.env
/.idea/
/.ipynb_checkpoints/
/__pycache__/
**/__pycache__/
*.egg-info/
.venv/
.claude/
^.*/
fractions.csv
stat.csv
venv
qnt*.tar.bz2
fractions.nc.gz
id-translation.csv
reverse
/precheck_results/
data-cache
state.out.pickle.gz
